PYTHON SETS

In [1]:
myset={"apple","banana","cherry"}
myset

{'apple', 'banana', 'cherry'}

Duplicates Not Allowed

In [2]:
thisset = {'apple','banana','cherry','apple'}
thisset

{'apple', 'banana', 'cherry'}

In [ ]:
# True and 1 is considered the same value
thisset = {'apple','banana','cherry',True,1,2}
thisset

In [3]:
thisset = {'apple','banana','cherry'}
len(thisset)

3

Set Items-Data Types

In [4]:
set1 = {'apple','banana','cherry'}
set2 = {1,5,7,9,3}
set3 = {True, False,False}

In [5]:
print(set1)
print(set2)
print(set3)

{'banana', 'apple', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

In [9]:
# A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}
set1

{34, 40, True, 'abc', 'male'}

In [10]:
type(set1)

set

In [11]:
# The set() Constructor
thisset = set(("apple",'banana','cherry'))
thisset

{'apple', 'banana', 'cherry'}

 Access Set Items

In [12]:
thisset = {'apple','banana','cherry'}

for i in thisset:
    print(i)

banana
apple
cherry

In [13]:
thisset = {"apple","mango"}
print("apple" in thisset)

True

Add Set Items

In [15]:
thisset = {'apple','banan','cherry'}
thisset.add("orange")
thisset

{'apple', 'banan', 'cherry', 'orange'}

Add Sets

In [16]:
# To add items from another set into the current set, use the update() method.
thisset = {'apple','banan','cherry'}
tropical={"pineapple", "mango", "papaya"}
thisset.update(tropical)
thisset

{'apple', 'banan', 'cherry', 'mango', 'papaya', 'pineapple'}

Add Any Iterable":
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.)

In [17]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'kiwi', 'apple', 'orange', 'cherry'}

Remove Item

In [18]:
# emove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
thisset

{'apple', 'cherry'}

In [19]:
# Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [20]:
# Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [22]:
# Remove a random item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'apple', 'cherry'}

In [23]:
# The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [27]:
# The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)  # this will raise an error because the set no longer exists

NameError: name 'se' is not defined

Loops Sets

In [28]:
 # Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

Join Sets

In [30]:
# The union() method returns a new set with all items from both sets:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'b', 'c'}

In [31]:
# The update() method inserts the items in set2 into set1:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'a', 1, 2, 3, 'b', 'c'}

In [32]:

# Keep the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}