Tuple

In [1]:
mytuple=('apple','banana',"cherry")
mytuple

('apple', 'banana', 'cherry')

In [1]:
# length of tuple
thistuple=("apple","banana","cherry")
len(thistuple)

3

In [5]:
# this is tuple, one item tuple remember the comma
thistuple=('apple',)
thistuple

('apple',)

In [7]:
# this is not tupel
thistuple=("apple")
thistuple

'apple'

In [10]:
# tuple item 
thistuple=("apple","banana","cherry")
thistuple2=(1,2,3,4)
thistuple3=(True,False,False)

print(thistuple)
print(thistuple2)
print(thistuple3)

('apple', 'banana', 'cherry')
(1, 2, 3, 4)
(True, False, False)

In [12]:
# check type of tuple
tuple1=("abc",34,True,40,"male")
type(tuple1)

tuple

The tuple() Constructor

In [23]:
# using the tuple() method to make a tuple

thistuple = tuple(('apple', 'banana'))# note double round bracket
thistuple

('apple', 'banana')

 Access Tuple Item

In [27]:
# Print the second item in tuple
thistuple=('apple','banana','cherry')
thistuple[1]

'banana'

In [28]:
# Negative Indexing
# print last item
thistuple=("Ã¤pple","banana","cherry")
thistuple[-1]

'cherry'

In [30]:
# Range of Indx
# Return the third ,forth,and fifth item
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
thistuple[2:5]

('cherry', 'orange', 'kiwi')

In [31]:
thistuple=("apple","banan","cherry","orange","kiwi","melon","mango")
thistuple[:4]

('apple', 'banan', 'cherry', 'orange')

In [32]:
thistuple = ("apple", "banan", "cherry", "orange", "kiwi", "melon", "mango")
thistuple[2:]

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [33]:
# Range of Negative Indexs
thistuple = ("apple", "banan", "cherry", "orange", "kiwi", "melon", "mango")
thistuple[-4:-1]

('orange', 'kiwi', 'melon')

In [34]:
# check if item exist 
thistuple = ("apple", "banan", "cherry", "orange", "kiwi", "melon", "mango")
if "apple" in thistuple:
    print("yes, apple is in the fruits tuple")

yes, apple is in the fruits tuple

Change Tuple Values

In [35]:
# convert the tuple into a list to be able to change it:
z=("apple","banan","cherry")
y=list(z)
y[1]="kiwi"
x = tuple(y)

x

('apple', 'kiwi', 'cherry')

In [36]:
# Add Item
thistuple=("apple","banana","cherry")
y=list(thistuple)
y.append("orange")
tuple(y)

('apple', 'banana', 'cherry', 'orange')

In [37]:
# add tow tuple
thistuple=("apple","banana")
tuple2=("mamgo",)
thistuple=thistuple+tuple2
thistuple

('apple', 'banana', 'mamgo')

Unpack Tuple

In [38]:
# When we create a tuple, we normally assign values to it. This is called "packing" a tuple:
fruits= ("apple","banan","cherry")
fruits

('apple', 'banan', 'cherry')

In [40]:
# Unpcking a tuple
fruits=("apple","banan","cherry")
(green,yellow,red)=fruits
print(green)
print(yellow)
print(red)

apple
banan
cherry

In [41]:
# Using Asterisk*
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green,yellow,*red)=fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [42]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Loop Through a Tuple

In [43]:
thistuple=("apple","banana","cherry")
for i in thistuple:
    print(i)

apple
banana
cherry

In [44]:
# Loop Through the Index Number
thistuple=('apple','mango','cherry')

for i in range(len(thistuple)):
    print(thistuple[i])

apple
mango
cherry

In [45]:
# using while loop
thistuple=("apple","mango","cherry")
i=0
while i<len(thistuple):
    print(thistuple[i])
    i=i+1

apple
mango
cherry

In [46]:
# join two tuple 
tuple1 = ("a","b","c")
tuple2=(1,2,3)
tuple3=tuple1+tuple2
tuple3

('a', 'b', 'c', 1, 2, 3)

In [47]:
# Multiply Tuple
fruits=("banan","apple","cherry")
mytuple=fruits*2
mytuple

('banan', 'apple', 'cherry', 'banan', 'apple', 'cherry')

Tuple count() Method

In [49]:
# Return the number of times the value 5 appears in the tuple:


thistuple = (1,3,7,5,4,6,8,5)
x=thistuple.count(5)
x

2

Tuple index() Method

In [51]:
# Search for the first occurrence of the value 8, and return its position:


thistuple=(1,3,7,8,7,5,4,6,8,5)
x= thistuple.index(8)
x

3

In [58]:
x="ABCDE"
y=x[::-1]
z=y[1]+x[-1]

z

'DE'

In [56]:
y

'EDCBA'